* {
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: system-ui, sans-serif;
    margin: 0;
}

nav {
    align-items: center;
    /* vertically centers both groups */
    background-color: white;
    display: flex;
    /* turn nav into a flex container. makes destinations+actions sit in one row */
    padding: 8px 16px;
}

#destinations {
    display: flex;
    /* children align in a row */
    gap: 1rem;
    /* spacing between links */
}

#actions {
    align-items: center;
    /* vertical center */
    display: flex;
    /* keeps the icon, sign in, sign up in one row */
    gap: 1rem;
    /* spacing between action items */
    margin-left: auto;
    /* push to the far right */
}

#hero {
    align-items: center;
    /* center children horizontally */
    display: flex;
    /* turn hero into flex container */
    flex-direction: column;
    /* stack title, search, trending vertically */
    gap: 5rem;
    /* space between header, search, trending */
    justify-content: center;
    /* center vertically (if hero has height) */
    text-align: center;
    /* center text */
}

p {
    margin: 0;
}

section {
    height: 460px;
    background-color: black;
    color: white;
    padding: 24px 72px;
}

h1,
h2 {
    text-align: center;
}

h1 {
    margin-top: 0;
    font-size: 32px;
}

h2 {
    font-size: 16px;
    margin-bottom: 0;
}

input {
    height: 58px;
    width: 80%;
    max-width: 600px;
    border-radius: 29px;
    border: 0px;
    padding: 0 24px;
}

main {
    background-color: white;
    padding: 32px 72px;
}

nav button {
    background-color: #ea4c89;
    border-radius: 8px;
    padding: 10px 16px;
    border: 0;
    color: #ffffff;
    font-weight: 500;
}

.img-placeholder {
    width: 355px;
    height: 270px;
    background-color: gray;
    border-radius: 8px;
}

.card-footer {
    font-size: 14px;
}

.card-footer * {
    margin-top: 8px;
}

#subnav {

    background-color: white;
    display: flex;
    /* split left + right */
    justify-content: space-between;
    /* push items to opposite edges */
    padding: 32px 72px 0;
}

#subnav button {
    border-radius: 8px;
    padding: 10px 16px;
    border: 1px solid black;
    background-color: white;
}

#trending {
    align-items: center;
    /* vertically align label + pills */
    display: flex;
    /* put children in a row */
    gap: 12px;
    /* space between label and pills */
    justify-content: center;
    /* center the whole row in the hero */
}

#trending p {
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 6px 15px;
}